.footer {
  width: 100%;
  height: 252px;
  background-color: $backgroundColor;
  color: $contactColorFooter;

  &-left {
    display: flex;
    flex-direction: row;
    // justify-content: start;
    align-items: left;
    padding-left: 0px;
  }

  .contact-box {
    padding-top: 60px;
    .logo {
      margin: 0;
      padding: 0;
      font-family: "Raleway";
      font-weight: 700;
      font-size: 26px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      a {
        text-decoration: none;
        .txt {
          color: $accentColor;
        }
        color: $contactLogoColor;
      }
    }
    .footer-contact {
      margin-top: 20px;
      font-style: normal;

      .item {
        width: auto;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        &:not(:last-child) {
          margin-bottom: 9px;
        }
      }
      .address {
        letter-spacing: 0.01rem;
        color: $contactLogoColor;
      }
      .link {
        text-decoration: none;
        color: $contactColorFooter;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
          color: $accentColor;
        }
      }
    }
  }
  .social-card-footer {
    margin-left: 70px;
    // margin-right: 0px;
    &-title {
      padding-top: 72px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $contactLogoColor;
    }
    &-list {
      display: inline-flex;
      padding-top: 20px;
      width: 100%;
      &-element {
        display: inline-flex;

        &-icon {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          fill: $contactLogoColor;
          width: 44px;
          height: 44px;
          background-color: $backgroundSocialMediaFooter;
          border-radius: 50%;
          margin-right: 10px;
          transition-property: background-color, fill, border;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          &:hover,
          &:focus {
            border-radius: 50%;
            background: $accentColor;
            fill: $contactLogoColor;
          }
        }
      }
    }
  }
  .subscribe-to-the-newsletter {
    margin-left: 78px;
    &-title {
      padding-top: 72px;
      padding-bottom: 20px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $colorSubscribeNewsletterTitle;
    }
    &-form {
      &-box {
        display: flex;

        &-email {
          width: 358px;
          height: 50px;
          font-size: 16px;
          line-height: 1.25;
          letter-spacing: 0.03em;
          background-color: $backgroundColorSubscribeNewsletterEmail;
          border: 1px solid $colorSubscribeNewsletterBorderEmail;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          border-radius: 4px;
          padding-left: 16px;
          margin-right: 12px;
          transition-property: background-color, border, filter, border-radius;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          &:focus {
            background-color: $backgroundColorSubscribeNewsletterEmail;
            border: 1px solid $colorSubscribeNewsletterBorderEmail;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            border-radius: 5px;
          }
        }
        &-save {
          position: relative;
          display: flex;
          text-align: center;
          align-items: center;
          padding-left: 42px;
          width: 200px;
          height: 50px;
          background-color: $backgroundColorSubscribeNewsletterButtonSave;
          color: $colorSubscribeNewsletterButtonSave;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          border-radius: 4px;
          border: none;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.88;
          letter-spacing: 0.06em;
          cursor: pointer;
          transition-property: border-radius, background-color, fill, color,
            box-shadow;
          transition-duration: 250ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          .newsletter-icon {
            position: absolute;
            left: 148px;
            top: 13px;
            fill: $colorSubscribeNewsletterButtonSave;
          }
          &:focus,
          &:hover {
            border-radius: 5px;
            background-color: $backgroundColorSubscribeNewsletterButtonSaveHover;
            color: $colorSubscribeNewsletterButtonSaveHover;
            fill: $colorSubscribeNewsletterButtonSaveHover;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
  }
}
