.backdrop-modal-order {
  position: relative;
  top: 75px;
  left: 40px;
  border: 1px solid green;
  width: 448px;
  height: 342px;
  display: flex;
  flex-direction: column;
  p {
    font-size: 12px;
    line-height: 1.17;
    color: $borderColorLableName;
  }
  &-lable1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 58px;
    svg {
      position: absolute;
      left: 12px;
      top: 23px;
    }
    &-name {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 42px;
      border: 1px solid $borderColorLableBorderName;
      border-radius: 4px;
    }
  }
  &-lable2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 58px;
    svg {
      position: absolute;
      left: 12px;
      top: 27px;
      z-index: 20;
      &:hover,
      &:focus {
        fill: #2196f3;
      }
    }
    &-phone {
      position: absolute;
      width: 100%;
      height: 40px;
      left: 0;
      top: 16px;
      margin-bottom: 10px;
      padding-left: 42px;

      border: 1px solid $borderColorLableBorderName;
      border-radius: 4px;
    }
  }
  &-lable3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 58px;
    svg {
      position: absolute;
      left: 12px;
      top: 23px;
    }
    &-email {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      padding-left: 42px;
      // margin-top: 4px;
      border: 1px solid $borderColorLableBorderName;
      border-radius: 4px;
    }
  }
  &-lable4 {
    &-comment {
      width: 100%;
      height: 120px;
      padding-top: 11px;
      padding-left: 12px;
      // margin-bottom: 10px;
      // margin-top: 4px;
      border: 1px solid $borderColorLableBorderName;
      border-radius: 4px;
      font-size: 12px;
      line-height: 1.17;
      color: $borderColorLableName;
    }
  }
  // .order-form-button {
  //   position: absolute;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   align-items: center;
  //   width: 200px;
  //   height: 50px;
  // }
}
