@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

$mainTextColor: #212121;
$accentColor: #2196f3;
$colorLink: #000000;
$backgroundColor: #2f303a;
$contactColorMain: #757575;
$contactColorFooter: rgba(255, 255, 255, 0.6);
$contactLogoColor: #fff;
$backgroundColorTeam: #f5f4fa;
$colorPortfolioFigc: #eeeeee;
$colorBorderBotomHeader: #ececec;
$colorButtonSlider: rgba(0, 0, 0, 0.15);
$backgroundSlider: rgba(47, 48, 58, 0.4);
$colorIconClient: #afb1b8;
$backgroundSocialMediaFooter: rgba(255, 255, 255, 0.1);
$backgroundColorModalContainer: rgba(0, 0, 0, 0.1);
$backgroundColorModalSpace: rgba(0, 0, 0, 0.3);
$backgroundColorModal: #fff;
$backgroundColorModalButton: rgba(0, 0, 0, 0.1);
$boxShadowModal: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$backgroundColorOverlay: rgba(33, 150, 243, 0.9);
$backgroundWhatAreWeDoingLabel: rgba(47, 48, 58, 0.8);
$colorWhatAreWeDoingLabel: #fff;
$backgroundColorBackdrop: rgba(0, 0, 0, 0.2);
$colorSubscribeNewsletterTitle: #ffffff;
$backgroundColorSubscribeNewsletterEmail: #2f303a;
$colorSubscribeNewsletterBorderEmail: rgba(255, 255, 255, 0.3);
$colorSubscribeNewsletterTextEmail: rgba(255, 255, 255, 0.6);
$colorSubscribeNewsletterBorderEmailHoverFocus:#2196f3;
$backgroundColorSubscribeNewsletterButtonSave: #2196f3;
$backgroundColorSubscribeNewsletterButtonSaveHover: #0d83e4;
$colorSubscribeNewsletterButtonSave: #ffffff;
$colorSubscribeNewsletterButtonSaveHover: #f3ebeb;
$backgroundColorBackdropModal: #ffffff;
$borderColorCloseBtnBackdropModal: #0000001a;
$borderColorCloseBtnBackdropModalHover: #2196f3;
$borderColorLableText: #757575;
$colorFormLableTextarea: rgba(117, 117, 117, 0.5);
$borderColorLableBorderText: rgba(33, 33, 33, 0.2);
$borderColorLableBorderTextChecked: #2196f3;
$colorBackdropModalAgreementText: #757575;
$colorBackdropModalAgreementLink: #2196f3;
$colorBackdropModalAgreementSvg: #ffffff;
$colorBackdropModalSendButton: #ffffff;
$backgroundColorModalSendButton: #2196f3;
$backgroundColorModalSendButtonHover: #1791f5;
$colorBackdropModalAgreementCheckBoxBorder: #212121;
$colorBackdropModalAgreementCheckBoxHoverFocus: #2196f3;
$colorBackdropModalAgreementCheckBoxChecked: #2196f3;
